<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HL7TestingApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReports"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:15692/Reports.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReports" contract="ReportsWebService.IReports" name="BasicHttpBinding_IReports"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <HL7TestingApp.Properties.Settings>
            <setting name="ReportServiceAddress" serializeAs="String">
                <value>http://localhost:15692/Reports.svc</value>
            </setting>
        </HL7TestingApp.Properties.Settings>
    </applicationSettings>
</configuration>
